/* *****************************
     header
***************************** */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fcefe3;
  height: 6.4rem;
  padding: 0 4.8rem;
}
.logo {
  height: 2.4rem;
}

/* ****************
    navigation
**************** */
.main-nav-list {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #3b444b;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all ease-in-out 0.2s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #c96e1e;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #e67e22;
  color: #fff;
  padding: 1.2rem 3.6rem;
  border-radius: 10px;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #c96e1e;
  color: #fff;
}
/* *****************************
     hero section styling  
 ******************************* */

.section-hero {
  background-color: #fcefe3;
  padding: 3.2rem 0 6.4rem 0;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  padding: 0 2.4rem;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
}
.hero-img {
  width: 100%;
}
.hero-description {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 3.2rem;
}
.header-span {
  color: #22e67e;
}
.btn-main:link,
.btn-main:visited {
  background-color: #e67e22;
}
.btn-secondary:link,
.btn-secondary:visited {
  background-color: #fff;
  color: inherit;
}
.btn-main:hover,
.btn-main:active {
  background-color: #c96e1e;
}
.btn-secondary:hover,
.btn-secondary:active {
  background-color: #fcefe3;
  box-shadow: inset 0 0 0 3px #fff;
  opacity: 0.8;
}
.delivered-meals {
  display: flex;
  flex-direction: column;
  margin-top: 4.8rem;
  gap: 1rem;
  align-items: left;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fcefe3;
}
.delivered-meals p {
  margin-top: -0.25rem;
  font-size: 1.4rem;
  color: #3b444b;
  letter-spacing: 0.5px;
}
.delivered-meals span {
  color: #c96e1e;
  font-weight: 600;
}
/* *************************  */

/* *****************************
     featured section styling  
 ******************************* */
.section-featured {
  margin: 4.8rem 8rem;
  padding: 3.2rem 0 2.4rem 0;
  border-bottom: 2px solid #fcefe3;
}
.heading-featured-in {
  color: #3b444b;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3.2rem;
}
.logo {
  display: flex;
  gap: 2.4rem;
  justify-content: space-around;
}
.logo img {
  height: 2.4rem;
  filter: brightness(0);
  opacity: 0.75;
}

/* *****************************
     how section styling  
 ******************************* */
.section-how {
  padding: 8rem 0;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-img {
  width: 30%;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #c96e1e;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.5px;
}
.step-number {
  font-size: 8rem;
  font-weight: 600;
  color: #f9dfc8;
  margin-bottom: 1.2rem;
  margin-top: 0;
}
.heading-tertiary {
  font-size: 3rem;
  margin-bottom: 2.4rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.5;
}

/* *****************************
     featured section styling  
 ******************************* */

.section-meals {
  padding: 8rem 0;
  background-color: #fcefe3;
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  color: #3b444b;
  background-color: #22e67e;
  border-radius: 1rem;
}
.tag-vegetarian {
  background-color: #22e67e;
}
.tag-vegan {
  background-color: #34ff93;
}
.tag-paleo {
  background-color: #e6d922;
}
.meals {
  border-radius: 1rem;
  box-shadow: 0 0 3.2rem 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.2s;
}
.meals:hover,
.meals:active {
  transform: translateY(-0.3rem) scale(1.01);
  box-shadow: 0 0 4.8rem 0 rgba(0, 0, 0, 0.22);
}
.meal-content {
  padding: 3.2rem;
  background-color: #fff;
}
.meal-title {
  font-size: 1.8rem;
  color: #3b444b;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.meal-attribute {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meal-img {
  width: 100%;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.list-item {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meal-recipes:link,
.meal-recipes:visited {
  font-size: 1.4rem;
  color: #e67e22;
  display: inline-block;
  margin-top: 3.2rem;
  padding: 0.4rem 0;
  border-bottom: 1px solid #e67e22;
  transition: all 0.2s;
}
.meal-recipes:hover,
.meal-recipes:active {
  color: #c96e1e;
  border-bottom: 1px solid #c96e1e;
  text-shadow: 1px 1px 4px #e67d2233;
}

/* *****************************
     testimonials section styling  
 ******************************* */

.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  padding: 1.2rem;
  align-items: center;
}
.testimonials-container {
  padding: 8rem;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.2rem;
  column-gap: 6.4rem;
}
.testimonial-img {
  width: 25%;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.4rem;
  color: #777777;
  font-style: italic;
}

/* *****************************
     gallery section styling  
 ******************************* */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.2rem;
  padding: 2.4rem;
}
.gallery-items {
  overflow: hidden;
}
.gallery-img {
  display: block;
  width: 100%;
  transition: all 0.2s;
}
.gallery-img:hover {
  transform: scale(1.1);
}

/* *****************************
     pricing section styling  
 ******************************* */

.section-pricing {
  padding: 8rem;
}
.plan-header {
  text-align: center;
  margin-bottom: 3.2rem;
}
.plan-name {
  color: #e67e22;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.75;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.4rem;
  font-weight: 600;
  color: #3b444b;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3.2rem;
  font-weight: 500;
  margin-right: 1rem;
}
.plan-text {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.5;
  color: #777777;
}
.plan-signup {
  text-align: center;
  margin-top: 2.4rem;
}

/* fontawesome icons  */
.fas {
  font-size: 1.8rem;
  color: #e67e22;
}
